<h1>Post Creater: <%= @post.user.name %></h1>
  <p>
    Post content: <%= @post.caption  %><br>
  </p><p>
    Post content: <%= @post.caption  %><br>
  </p>
  <p>
    Post image: <%= image_tag @post.image.url %><br>
  </p>

<p>Happy sharing</p>
