<h1>You intentionally wanted to post something, <%= @user.name %></h1>
  <p>
    You have successfully posted your desired image,
    your username is: <%= @user.name %>.<br>
  </p>
<p>If you didn't wish to post it, kindly log in and delete it!</p>
<p>Happy sharing</p>
